$green: #17a985; // #2AB795;
$darkgreen: darken($green, 15);
$red: #f84530;
$foreColor: #242a2f;
$border-color: #E7E7E7;

@mixin green-box {
    background: linear-gradient(0deg, darken($green,2) 0%, lighten($green,2) 100%);
    box-shadow: 0 7px 10px -5px rgba(0, 75, 36, 0.53);
    color: white;
}

@mixin scroll{
    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $red;
        border-radius: 2px;
    }
}
