<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Laravel</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Jura:wght@700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="reset.css" rel="stylesheet"/>
    <link href="styles.css" rel="stylesheet"/>
    <link href="login.css" rel="stylesheet"/>
</head>
<body class="page-index">
<div class="sidebar">
    <div class="sidebar-header">
        <a href="/"><img src="/images/logo.svg" class="header-logo" alt=""></a>
        <a href="javascript:;" class="sidebar-closer"></a>
    </div>
    <a href="/login" class="sidebar-user">
        <span>yourmail@gmail.com</span>
    </a>
    <ul class="sidebar-menu">
        <li><a href="">Тесты</a></li>
        <li><a href="">Цены</a></li>
        <li><a href="">О нас</a></li>
    </ul>
</div>
<div class="lay-wrapper">
    <div class="header-wrapper">
        <header>
            <a href="/"><img src="/images/logo.svg" class="header-logo" alt=""></a>
            <ul class="header-menu">
                <li><a href="">Тесты</a></li>
                <li><a href="">Цены</a></li>
                <li><a href="">О нас</a></li>
            </ul>
            <a href="/login" class="header-user">
                <span>yourmail@gmail.com</span>
            </a>
            <a href="javascript:;" class="sidebar-opener"></a>
        </header>
    </div>
    <main>
        <div class="auth-page">

            <form action="" class="block">
                <h1>Вход</h1>
                <div class="input-group">
                <input type="text" placeholder="E-mail" class="input input-email"/>
                </div>

                <div class="input-group has-error">
                <input type="password" placeholder="Пароль" class="input input-password"/>
                <p class="input-error">Неверный пароль</p>
                </div>

                <button type="submit" class="btn btn-green">Войти</button>

                <a href="" class="forgot-password-link">Забыли пароль?</a>
                <div class="hr">или</div>
                <h3>Вход через соц.сети:</h3>
                <div class="social-link-wrapper">
                    <a href="javascript:;"><img src="/images/social-google.svg" alt=""></a>
                    <a href="javascript:;"><img src="/images/social-vk.svg" alt=""></a>
                    <a href="javascript:;"><img src="/images/social-ya.svg" alt=""></a>
                </div>
            </form>

            <div class="block" style="padding: 25px 35px;">
                <p>Еще нет аккаунта? <a href="">Зарегистрируйтесь</a></p>
            </div>
        </div>
    </main>
    <div class="lay-footer-placeholder"></div>
</div>

<footer>
    <ul>
        <li><a href="">О сервисе</a></li>
        <li><a href="">Обратная связь</a></li>
        <li><a href="">Соглашение</a></li>
    </ul>
</footer>

<script src="index.js"></script>

</body>
</html>
<script>export default {
    components: {}
}
</script>
